<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title|default:"MIT" }}</title>
</head>
<body>
<!-- header -->
    {% block header %}
        {% include "includes/navbar.html" %}
    {% endblock header %}
<!-- /header -->

<!-- content -->
    {% block content %}
    {% endblock content %}
<!-- /content -->

<!-- footer -->
    {% block footer %}
        <hr>
        <div align="right">
            <p>Developed for studying with Django 4.1</p>
        </div>
    {% endblock footer %}
<!-- /footer -->
</body>
</html>