<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ head_title }}</title>
</head>
<body>
    <h2>{{ body_title }}</h2>
    <div align="{{ align|default:'right' }}">
        <p>{{ text }}</p>
    </div>
    <table cellpadding="10">
        {% for book in books %}
            <tr>
                <td>{{ book.author }}</td>
                <td>{{ book }}</td>
                <td><a href="/books/{{ book.publisher_set.get.name_en }}">{{ book.publisher_set.get }}</a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>