<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object.name }}</title>
</head>
<body>
    <a href="/">Back</a>
    <h3>Departments list</h3>
    <div>
        <ul>
        {% for department in object.department_set.all %}
            <li>{{ department.name }}</li>
        {% endfor %}
        </ul>
    </div>
    <hr>
    <h4>Add department</h4>
    <div>
        <form action="/{{ object.short_en }}{{ object.id }}/" method="post" name="add">
            {% csrf_token %}
            <div>
                {{ form_add.as_p }}
            </div>
            <div>
                <input type="submit" name="SubmitAdd">
            </div>
        </form>
    </div>
    <hr>
    <h4>Delete department</h4>
    <div>
        <form action="/{{ object.short_en }}{{ object.id }}/" method="post">
            {% csrf_token %}
            <div>
                {{ form_del.as_p }}
            </div>
            <div>
                <input type="submit" name="SubmitDel">
            </div>
        </form>
    </div>
</body>
</html>