{% extends base_template|default:"base.html" %}


{% block content %}
    <div align="center">
        <h2>{{ object.name }}</h2>
    </div>
    <div>
        <h3>Departments list</h3>
        <div class="list-simple">
            <ul>
            {% for department in object.department_set.all %}
                <li>{{ department.name }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <hr>
    <h4>Add department</h4>
    <div>
        <form action="/{{ object.short_en }}{{ object.id }}/" method="post" name="add">
            {% csrf_token %}
            <div>
                {{ form_add.as_p }}
            </div>
            <div>
                <input type="submit" name="SubmitAdd">
            </div>
        </form>
    </div>
    <hr>
    <h4>Delete department</h4>
    <div>
        <form action="/{{ object.short_en }}{{ object.id }}/" method="post">
            {% csrf_token %}
            <div>
                {{ form_del.as_p }}
            </div>
            <div>
                <input type="submit" name="SubmitDel">
            </div>
        </form>
    </div>
{% endblock content %}


{% block footer %}
{% endblock footer %}

